<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  
</head>
<body>
    <div class="container">
        <h1>Tabla de datos del Vector {{vector}}</h1>
        <table class="table table-striped">
            <thead class="thead text-white" style="background-color: #0733b9;">
                <tr>
                <th scope="col">X</th>
                <th scope="col">Y</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0,x|length) %}
        
                <tr>
                    <th scope="row">{{x[i]}}</th>
                    <td>{{y[i]}}</td>
                    </tr>
        
                {% endfor %}
                
                
            </tbody>
            </table>
    </div>
</body>
</html>